In [ ]:
# default_exp utils.data

# Data Utilities
> Implementation of data utilities.

In [ ]:
import pandas as pd
import tempfile
import os

from recohut.utils.common_utils import download_url

## List datasets

In [ ]:
#export
music30 = {
        'url': 'https://github.com/RecoHut-Datasets/30music/raw/v3/sessions.parquet.snappy',
        'type': 'pandas_df',
        'format': 'parquet.snappy',
        'nrows': 3408682,
        'columns': ['session_id','user_id','ts','playtime'],
        }

In [ ]:
#export
music30_sample = {
        'url': 'https://github.com/RecoHut-Datasets/30music/raw/v3/sessions_sample_10.parquet.snappy',
        'type': 'pandas_df',
        'format': 'parquet.snappy',
        'nrows': 343182,
        'columns': ['session_id','user_id','ts','playtime'],
        }

In [ ]:
#export
DATASETS = {
    'music30': music30,
    'music30_sample': music30_sample,
}

In [ ]:
#export
def list_datasets():
    return pd.DataFrame(DATASETS).T

In [ ]:
list_datasets()

                                                              url  ...                              columns
music30         https://github.com/RecoHut-Datasets/30music/ra...  ...  [session_id, user_id, ts, playtime]
music30_sample  https://github.com/RecoHut-Datasets/30music/ra...  ...  [session_id, user_id, ts, playtime]

[2 rows x 4 columns]

## Load dataset

In [ ]:
#export
def load_dataset(data_id, data_dir=None, log=False):
    dataset_list = list(list_datasets().index)
    assert data_id in dataset_list, f'data id not exist, available ids are {dataset_list}'

    if data_dir is None:
        data_dir = os.path.join(tempfile.gettempdir(), data_id)
    
    data_info = list_datasets().loc[data_id]
    path = download_url(data_info.url, data_dir, log=log)

    if data_info.format == 'parquet.snappy':
        df = pd.read_parquet(path)
    
    return df

In [ ]:
df = load_dataset('music30_sample')
df.head()

   session_id  user_id  song_id          ts  playtime
0     1902204        4       16  1421163674       274
1     1902204        4       17  1421163948       250
2     1902204        4       18  1421164198       271
3      780919       10       60  1411009500       228
4      780919       10       61  1411014936       206